@charset "UTF-8";


/* *********************************************************************
initialize style sheets
********************************************************************* */
body { margin: 0; padding: 0; }
#jis-header, #jis-footer, .jis-block { font-size: 86%; line-height: 1.5; text-indent: 0; margin: 0; padding: 0; font-family: sans-serif; }

#jis-header div, #jis-footer div, .jis-block div,
#jis-header h1, #jis-footer h1, .jis-block h1,
#jis-header h2, #jis-footer h2, .jis-block h2,
#jis-header h3, #jis-footer h3, .jis-block h3,
#jis-header h4, #jis-footer h4, .jis-block h4,
#jis-header h5, #jis-footer h5, .jis-block h5,
#jis-header h6, #jis-footer h6, .jis-block h6,
#jis-header p, #jis-footer p, .jis-block p,
#jis-header address, #jis-footer address, .jis-block address,
#jis-header form, #jis-footer form, .jis-block form,
#jis-header em, #jis-footer em, .jis-block em
{ font-size: 100%; font-weight: normal; font-style: normal; text-indent: 0; margin: 0; padding: 0; border: 0; display: block; }

#jis-header h1, #jis-footer h1, .jis-block h1 { font-size: 150%; font-weight: bold; margin-top: 1em; }
#jis-header h2, #jis-footer h2, .jis-block h2 { font-size: 120%; font-weight: bold; margin-top: 30px; }
#jis-header h3, #jis-footer h3, .jis-block h3,
#jis-header h4, #jis-footer h4, .jis-block h4,
#jis-header h5, #jis-footer h5, .jis-block h5,
#jis-header h6, #jis-footer h6, .jis-block h6
{ font-size: 100%; font-weight: bold; margin-top: 30px; }
#jis-header p, #jis-footer p, .jis-block p { font-size: 100%; margin-top: 20px; }

#jis-header ul, #jis-footer ul, .jis-block ul,
#jis-header ul li, #jis-footer ul li, .jis-block ul li,
#jis-header dl, #jis-footer dl, .jis-block dl,
#jis-header dt, #jis-footer dt, .jis-block dt,
#jis-header dd, #jis-footer dd, .jis-block dd
{ margin: 0; padding: 0; text-indent: 0; list-style: none; }
#jis-header ol, #jis-footer ol, .jis-block ol { margin: 0 0 0 60px; padding-left: 0; }

#jis-header a:hover, #jis-footer a:hover, .jis-block a:hover { background-color: #ffa; }

#jis-header img, #jis-footer img, .jis-block img { margin: 0; padding: 0; border: 0; vertical-align: bottom; }


/* *********************************************************************
common styles
********************************************************************* */
#jis-wrapper { padding: 20px; }
#jis-footer { margin-top: 36px; }

#jis-header .jis-breadcrumb ul { padding-bottom:5px; margin: 5px 0 0 0; border-bottom: 2px solid #778; width: 99%; }
#jis-header .jis-breadcrumb li,
#jis-footer .jis-breadcrumb li { display: inline; font-size: 100%; }
#jis-footer .jis-breadcrumb ul { padding-top:5px; margin: 0 0 0 5px; border-top: 2px solid #778; width: 99%; }

#jis-header .jis-linear,
#jis-footer .jis-linear { float: right; width: 49%; }
	#jis-header .jis-linear ul, #jis-footer .jis-linear ul { float: right; }
	#jis-header .jis-linear li, #jis-footer .jis-linear li { float: left; line-height: 1; font-size: 90%; margin-left: 10px; background-color: #dde; border: 1px solid #778; }
	#jis-header .jis-linear li a, #jis-footer .jis-linear li a { display: block; padding: 5px 8px; }
	#jis-header .jis-linear li a:hover, #jis-footer .jis-linear li a:hover,
	#jis-header .jis-linear li a:focus, #jis-footer .jis-linear li a:focus,
	#jis-header .jis-linear li a:active, #jis-footer .jis-linear li a:active { background-color: #aae; border-color: #227; }


.jis-block ul, .jis-block ol { margin-top: 16px; }
.jis-block ul li { list-style-type: circle; margin-left: 24px; margin-top: 8px; }
.jis-block ol li { margin-top: 8px; }
.jis-block .jis-headline { border-bottom: 2px solid #999; padding-bottom: 6px; }

#jis-header .jis-fontsize090, #jis-footer .jis-fontsize090, .jis-block .jis-fontsize090 { font-size: 90%; }
#jis-header .jis-fontsize120, #jis-footer .jis-fontsize120, .jis-block .jis-fontsize120 { font-size: 120%; }
#jis-header .jis-fontsize180, #jis-footer .jis-fontsize180, .jis-block .jis-fontsize180 { font-size: 180%; }


.jis-block .jis-innerblock { margin-left: 20px; }
.jis-block .jis-innerblock .jis-indent { margin-left: 36px; }
.jis-block .jis-innerblock .jis-indent ul li { margin-left: 60px; }
#jis-header .jis-overview { margin-top: 0; margin-bottom: 20px; font-size: 200%; }

.jis-testarea { margin: 24px 0 0 20px; }
.jis-testarea h3.jis-teststart { font-size: 86%; line-height: 1.5; text-indent: 0; margin: 0; padding: 0; font-family: sans-serif; font-size: 100%; }
.jis-testarea p.jis-testend { font-size: 86%; line-height: 1.5; text-indent: 0; margin: 0; padding: 0; font-family: sans-serif; font-size: 100%; font-weight: bold; margin-top: 8px; }
.jis-testcode { background-color: #f9f5de; border: solid 1px #006; border-left: solid 6px #006; margin-top: 5px; margin-left: 30px; padding: 14px; }

.jis-floatleft { float: left; width: 49%; }
.jis-floatright { float: right; width: 49%; }

.jis-alignleft { text-align: left; }
.jis-aligncenter { text-align: center; }
.jis-alignright { text-align: right; }


#jis-footer #jis-licence { margin-top: 20px; font-size: 90%; }

body .jis-clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
body .jis-clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html body .jis-clearfix { height: 1%; }
body .jis-clearfix { display: block; }
/* End hides from IE-mac \*/


/* *********************************************************************
additional styles for TOC
********************************************************************* */
.jis-tocheadline { margin: 20px 0 0 0; }
.jis-tocheadline-a p, 
.jis-tocheadline ul { margin-left: 20px; }
.jis-tocheadline .jis-toclist { margin-left: 40px; }

#jis-header .jis-tocheadline h1 { margin-top: 0; margin-bottom: 0; font-size: 200%; font-weight: normal; }
#jis-header .jis-tocheadline h2 { margin-top: 10px; margin-bottom: 0; font-size: 150%; font-weight: normal; }

#jis-header .jis-tocauthor { margin: 30px 0 20px 20px; }
#jis-header .jis-tocauthor dt { font-weight: bold; }
#jis-header .jis-tocauthor dd { margin-left: 20px; }

#jis-header #jis-licence { margin: 20px 0 0 20px; }

#jis-footer .jis-tochorizontal { border-top: 2px solid #778; width: 100%; }
.jis-block .jis-tocheadline h2 { margin-top: 50px; margin-bottom: 20px; font-size: 150%; border-bottom: 2px solid #999; padding-bottom: 6px; }
.jis-block .jis-tocheadline h3 { margin-left: 20px; font-size: 120%; }
.jis-block .jis-tocheadline-a h2 { margin-top: 40px; margin-bottom: 10px; font-size: 150%; border-bottom: 2px solid #999; padding-bottom: 6px; }
.jis-block .jis-tocheadline-a h3 { margin-left: 20px; font-size: 120%; }
